@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/jetbrains-mono';

a {
	color: var(--brand);
}

html {

	/* --size-content-3: 60ch */
	/* font */
	--font-system-ui: 'Atkinson Hyperlegible', sans-serif;
	--font-monospace-code: 'JetBrains Mono', monospace;

	/* dark */
	--brand-dark: var(--orange-3);
	--text-1-dark: var(--gray-3);
	--text-2-dark: var(--gray-5);
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--gradient-8);
	--border-dark: var(--gray-9);

	/* light */
	--brand-light: var(--orange-10);
	--text-1-light: var(--gray-8);
	--text-2-light: var(--gray-7);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: none;
	--border-light: var(--gray-4);
}

:root {
	color-scheme: dark;
	--text-light-warn: var(--red-3);
	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-image: var(--background);
	background-attachment: fixed;
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}


/* \/ post specific */

.prose {
	p {
		max-inline-size: 100%;

		:not(:is(h2, h3, h4, h5, h6) + p) {
			margin-top: var(--size-7);
		}

		margin-bottom: var(--size-2);

		/* ignore paragraph tag around images */
		&:has(img) {
			display: contents;
		}
	}

	:is(img) {
		margin-bottom: var(--size-4);
	}

	:is(h2, h3, h4, h5, h6) {
		max-inline-size: 100%;
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
	}

	:is(ol) {
		list-style-type: decimal; 
   		list-style-position: outside; 
		padding-left: var(--size-5);
	}
	
	:is(ul) {
		list-style-type: '👉';
		padding-left: var(--size-5);
	}

	/* Styling for nested ul inside an li */
	li > ul {
		list-style-type: '⭐'; /* Different bullet for second-level ul */
		padding-left: var(--size-5);
	}

	:is(ul, ol) li {
		max-inline-size: 90%;
		margin-block: var(--size-2);
		padding-inline-start: var(--size-2);
	}

	:is(blockquote) {
		display: inline-block; /* Shrink-wrap the blockquote to its content */
		max-inline-size: 70%;
		margin-left: 2em; /* Center the blockquote and add spacing */
		padding-left: 0.5em; /* Space for the quote mark */
		font-style: italic; /* Italicize the quote for emphasis */
		border-left: 0px;
		position: relative; /* To position the ::before pseudo-element */
	}

	:is(blockquote)::before {
		content: "“"; /* Decorative quote mark */
		font-size: 6em; /* Large size for emphasis */
		color: var(--brand); /* Muted color for the quote mark */
		position: absolute;
		top: 0; /* Align to the top of the blockquote */
		left: -0.5em; /* Adjust to position the quote */
		line-height: 1; /* Prevent extra spacing */
	  }
	

	pre {
		/* max-inline-size: 100%; */
		padding: var(--size-3);
		padding-right: var(--size-10);
		border-radius: 8px;
		tab-size: 2;
		margin-bottom: var(--size-3);
	}
}

/* todo: bad copy paste fr */
.recipe {
	p {
		max-inline-size: 100%;

		:not(:is(h2, h3, h4, h5, h6) + p) {
			margin-top: var(--size-7);
		}

		margin-bottom: var(--size-2);

		/* ignore paragraph tag around images */
		&:has(img) {
			display: contents;
		}
	}

	:is(img) {
		margin-bottom: var(--size-4);
	}

	:is(h2, h3, h4, h5, h6) {
		max-inline-size: 100%;
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
	}

	:is(ol) {
		list-style-type: decimal; 
   		list-style-position: outside; 
		padding-left: var(--size-5);
	}
	
	:is(ul) {
		list-style-type: '👉';
		padding-left: var(--size-5);
	}

	/* Styling for nested ul inside an li */
	li > ul {
		list-style-type: '📸'; /* Different bullet for second-level ul */
		padding-left: var(--size-5);
	}

	:is(ul, ol) li {
		max-inline-size: 90%;
		margin-block: var(--size-2);
		padding-inline-start: var(--size-2);
	}

	:is(blockquote) {
		display: inline-block; /* Shrink-wrap the blockquote to its content */
		max-inline-size: 70%;
		margin-left: 2em; /* Center the blockquote and add spacing */
		padding-left: 0.5em; /* Space for the quote mark */
		font-style: italic; /* Italicize the quote for emphasis */
		border-left: 0px;
		position: relative; /* To position the ::before pseudo-element */
	}

	:is(blockquote)::before {
		content: "“"; /* Decorative quote mark */
		font-size: 6em; /* Large size for emphasis */
		color: var(--brand); /* Muted color for the quote mark */
		position: absolute;
		top: 0; /* Align to the top of the blockquote */
		left: -0.5em; /* Adjust to position the quote */
		line-height: 1; /* Prevent extra spacing */
	  }
	

	pre {
		/* max-inline-size: 100%; */
		padding: var(--size-3);
		padding-right: var(--size-10);
		border-radius: 8px;
		tab-size: 2;
		margin-bottom: var(--size-3);
	}
}